/* .navbar {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px 0px 100px;
}

.navbar img {
  width: 200px;
} */

#text {
  font-size: 30px;
}
#more-text {
  font-size: 20px;
}

.btn > center > button {
  border: none;
  background-color: rgb(38, 124, 252);
  color: white;
  padding: 4px 4px 4px 4px;
  cursor: pointer;
}
